{
  "pg": {
    "host": "127.0.0.1",
    "port": "3306",
    "user": "postgres",
    "password": "password",
    "database": "giraffeql-boilerplate-data-prod"
  },
  "pg_dev": {
    "host": "127.0.0.1",
    "port": "3306",
    "user": "postgres",
    "password": "password",
    "database": "giraffeql-boilerplate-data-dev"
  },
  "github": {
    "token": "ghp_sometokenhere",
    "repository": "giraffeql-boilerplate"
  },
  "serve_image": {
    "source_bucket": "giraffeql-boilerplate.appspot.com/source",
    "cache_bucket": "giraffeql-boilerplate.appspot.com/cache"
  },
  "base": {
    "origins": "https://boilerplate.giraffeql.com"
  }
}
