{
  "pg": {
    "host": "127.0.0.1",
    "port": "3306",
    "user": "postgres",
    "password": "password",
    "database": "giraffeql-boilerplate-data-prod"
  },
  "pg_dev": {
    "host": "127.0.0.1",
    "port": "3306",
    "user": "postgres",
    "password": "password",
    "database": "giraffeql-boilerplate-data-dev"
  },
  "github": {
    "token": "ghp_sometokenhere",
    "repository": "giraffeql-boilerplate"
  },
  "serve_image": {
    "bucket": "giraffeql-boilerplate.appspot.com",
    "source_path": "source",
    "cache_path": "cache",
    "temp_path": "temp"
  },
  "stripe": {
    "secret_key": "",
    "site_url": "https://ozycon.com"
  },
  "base": {
    "origins": "https://boilerplate.giraffeql.com",
    "timeout_seconds": "60"
  }
}
