<!DOCTYPE html>
<html class="h-[calc(100vh-100px)]">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
      rel="stylesheet"
      data-name="vs/editor/editor.main"
      href="https://unpkg.com/monaco-editor@0.44.0/min/vs/editor/editor.main.css"
    />
    <style>
      body {
        margin: 0;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="h-full">
    <div class="grid grid-cols-2 gap-4">
      <div class="m-2">
        <div class="flex">
          <div class="flex items-center me-4">
            <input
              checked
              id="none-radio"
              type="radio"
              value="none"
              name="key-type-group"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="none-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >None</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              id="bearer-token-radio"
              type="radio"
              value="bearer_token"
              name="key-type-group"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="bearer-token-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Bearer Token</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              id="api-key-radio"
              type="radio"
              value="api_key"
              name="key-type-group"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="api-key-radio"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >API Key</label
            >
          </div>
        </div>

        <input
          type="text"
          class="p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="key"
          name="key"
          style="width: 400px"
          autocomplete="off"
        />
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          onclick="submit()"
        >
          Submit
        </button>
        <span>(or press [Ctrl] + [Enter] inside the editor)</span>
      </div>
      <div class="m-2">
        <div class="flex">
          <div class="flex items-center me-4">
            <input
              checked
              id="ai-model-text"
              type="radio"
              value="text"
              name="ai-model-group"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="ai-model-text"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Text</label
            >
          </div>
          <div class="flex items-center me-4">
            <input
              id="ai-model-code"
              type="radio"
              value="code"
              name="ai-model-group"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="ai-model-code"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Code</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 h-full">
      <div
        id="container-1"
        class="h-full"
        style="border: 1px solid grey; resize: vertical; overflow: auto"
      ></div>
      <div
        id="container-2"
        class="h-full"
        style="border: 1px solid grey; resize: vertical; overflow: auto"
      ></div>
    </div>
    <script>
      var require = {
        paths: {
          vs: "https://unpkg.com/monaco-editor/min/vs",
        },
      };

      let queryEditor, responseEditor;

      function loadScript(src, async = true, type = "text/javascript") {
        return new Promise((resolve, reject) => {
          try {
            const tag = document.createElement("script");
            const container = document.head || document.body;

            tag.type = type;
            tag.async = async;
            tag.src = src;

            tag.addEventListener("load", () => {
              resolve({ loaded: true, error: false });
            });

            tag.addEventListener("error", () => {
              reject({
                loaded: false,
                error: true,
                message: `Failed to load script with src ${src}`,
              });
            });

            container.appendChild(tag);
          } catch (error) {
            reject(error);
          }
        });
      }

      (async function init() {
        try {
          // load loader first
          await loadScript("https://unpkg.com/monaco-editor/min/vs/loader.js");

          // then load these 2
          await Promise.all([
            loadScript(
              "https://unpkg.com/monaco-editor/min/vs/editor/editor.main.nls.js"
            ),
            loadScript(
              "https://unpkg.com/monaco-editor/min/vs/editor/editor.main.js"
            ),
          ]);

          // then initialize editors
          initializeEditors();
        } catch (err) {
          window.alert(
            `An error has occurred during initialization. Try refreshing the page, or try again later.`
          );
        }
      })();

      const apiUrl = window.location.href.replace(
        /\/prompt-empty$/,
        "/giraffeql"
      );

      const projectId = `{{ projectId }}`;

      async function executeVertexRequest({ query, headers, aiModel }) {
        let giraffeqlQuery;

        if (aiModel === "code") {
          giraffeqlQuery = {
            executeGoogleApiRequest: {
              __args: {
                url: `https://us-central1-aiplatform.googleapis.com/v1/projects/${projectId}/locations/us-central1/publishers/google/models/code-bison:predict`,
                data: {
                  instances: [
                    {
                      prefix: query,
                    },
                  ],
                  parameters: {
                    candidateCount: 1,
                    maxOutputTokens: 1024,
                    temperature: 0.2,
                  },
                },
                method: "post",
              },
            },
          };
        } else {
          giraffeqlQuery = {
            executeGoogleApiRequest: {
              __args: {
                url: `https://us-central1-aiplatform.googleapis.com/v1/projects/${projectId}/locations/us-central1/publishers/google/models/gemini-pro:streamGenerateContent`,
                data: {
                  contents: [
                    {
                      role: "user",
                      parts: [
                        {
                          text: query,
                        },
                      ],
                    },
                  ],
                  generation_config: {
                    maxOutputTokens: 2048,
                    temperature: 0.9,
                    topP: 1,
                  },
                },
                method: "post",
              },
            },
          };
        }

        const responseData = await fetch(apiUrl, {
          method: "post",
          headers,
          body: JSON.stringify(giraffeqlQuery),
        }).then((res) => res.json());

        return aiModel === "code"
          ? responseData.data.predictions[0].content
          : responseData.data
              .map((ele) => ele.candidates[0].content.parts[0].text)
              .join("");
      }

      async function submit() {
        responseEditor.setValue("Sending query...");
        try {
          const keyString = document.getElementById("key").value;
          const keyType = document.querySelector(
            'input[name="key-type-group"]:checked'
          ).value; // bearer_token | api_key | none
          const aiModel = document.querySelector(
            'input[name="ai-model-group"]:checked'
          ).value; // text | code

          const headers = {
            "Content-Type": "application/json",
            ...(keyType !== "none" && {
              [keyType === "api_key" ? "x-api-key" : "Authorization"]: `${
                keyType === "bearer_token" ? "Bearer " : ""
              }${keyString}`,
            }),
          };

          const responseData = await executeVertexRequest({
            query: queryEditor.getValue(),
            headers,
            aiModel,
          });

          // if the responseData.data is a string, this should be the successful JSON response, otherwise throw an error
          if (typeof responseData !== "string") {
            throw new Error(`Query failed to execute`);
          }

          responseEditor.setValue(responseData);
        } catch (err) {
          console.log(err);
          // on error, display the message
          responseEditor.setValue(err.message);
        }
      }

      function capitalizeString(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      }

      function initializeEditors() {
        queryEditor = monaco.editor.create(
          document.getElementById("container-1"),
          {
            value: "",
            automaticLayout: true,
            wordWrap: "on",
          }
        );

        queryEditor.addCommand(
          monaco.KeyMod.CtrlCmd | monaco.KeyCode.Enter,
          () => submit()
        );

        responseEditor = monaco.editor.create(
          document.getElementById("container-2"),
          {
            automaticLayout: true,
            wordWrap: "on",
            readOnly: true,
          }
        );

        monaco.editor.setTheme("vs-dark");
      }
    </script>
  </body>
</html>
